/* Below 990px (table) */
/**************************/
@media (max-width: 62em) {
  html {
    font-size: 50%;
  }

  .low {
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
  }

  .sale {
    display: none;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .cert {
    border-right: 1px solid #e2e4e6;
    padding-left: 0;
  }

  .cert-0 {
    border-left: 1px solid #e2e4e6;
    padding-left: 0;
    padding-right: 0;
  }

  .rigth {
    padding-right: 10rem;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  /* Phần 5 */
  .alt {
    display: flex;
    flex-direction: column;
  }

  .alt-4 {
    width: 50%;
  }

  /* Phần 6 */
  .with-3 {
    display: grid;
    grid-template-rows: 50px 1fr 110px 1fr 1fr;
  }

  .Developer-0 {
  }

  .Developer-1 {
    align-items: start;
  }

  .Developer-2 {
    height: 40%;
  }

  .Developer-4 {
    display: flex;
    flex-direction: column;
  }

  .Developer-5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* footer */

  .hidden {
    align-items: center;
  }

  .hidden p {
    font-size: 2rem;
  }

  .ion-icon {
    width: 4rem;
    height: 4rem;
  }

  /* digital-cv */
  .funix,
  .low-1 {
    grid-template-columns: 1fr;
  }

  .dau,
  .cols-1 {
    grid-template-columns: 1fr;
  }
  .cols-1 {
    gap: 0;
  }

  .goals,
  .goals1 {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .pz-3 {
    padding-top: 10px;
  }
}
